
.header {
    display: flex;
    background-color: #130f40;
    padding: 0 4rem;
    padding-top: 10px;
    color: white;
    font-family: sans-serif;
  }
  .logo-nav {
    display: flex;
    font-size: 1.4rem;
     flex: 0 0 80%;
  }
  .icons{
      font-size: 1.2rem;
  }
  .nav-image-cover{
    height: auto;
    width: 28px;
    border: 2px solid gray;
    border-radius: 100%;
  }
  .nav-image{
      height: 100%;
     width: 100%;
     border-radius: 100%;
  }
  .nav-options {
    color: white;
    display: flex;
     flex-direction: row;
     list-style: none;
     justify-content: space-around;
     align-items: center;
     flex: 1;
}
  .mobile-option {
    display: none;
  }
  .option {
      transition: all 0.2s;
      cursor: pointer;
      color: white;
      }
  .option :hover {
    color: #718093;

  }
  
  .mobile-menu {
    display: none;
  }
  @media (max-width: 850px) {
    /*Mobile View */
    .header {
      padding: 1.2rem;
      }
    
    .nav-options {
      display: flex;
      width: 100%;
      height: 350px;
      position: fixed;
      top: 6.5rem;
      left: -100%;
      transition: all 0.5s ease;
      flex-direction: column;
      list-style-type: none;
      grid-gap: 0px;
    }
    .nav-options.active {
        
      background: #079992;
      left: 0;
      transition: all 0.5s ease;
      z-index: 1000;
      align-content: center;
      padding-left: 0px;
    }
  
    .menu-icon {
      width: 45px;
      height: 45px;
    }
    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vw;
      padding: 30px 0px;

    }
  }
  .mobile-menu {
    display: block;
  }
  